body 
{
    background:#white;
}
.square 
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: gray;
}

.Draw{
    background-color: white;
}
.DrawArea{
    border: solid 5px red;

}
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Yep! */
    width: 48%;
    height: 89%;
    max-height: 960px;
    
  }